body{
    background-image: url(../../../public/img/EMR8AK.jpg);
    background-size: cover;
    
}
header{
    h2{
        background-color: aqua;
        color: white;
        padding-top: 1%;
        padding-left: 1%;
        padding-bottom: 2%;
    }
}